In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("./bank-additional-full.csv")

In [11]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [12]:
df = df.drop(['y','pdays','previous','euribor3m','emp.var.rate'],axis=1)

In [13]:
df.rename(columns={'contact':'comm_type','duration':'last_contact_duration','campaign':'campaign_contact_count'},inplace=True)

In [14]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'comm_type', 'month', 'day_of_week', 'last_contact_duration',
       'campaign_contact_count', 'poutcome', 'cons.price.idx', 'cons.conf.idx',
       'nr.employed'],
      dtype='object')

In [18]:
d = pd.read_csv("customer_data.csv")

,Unnamed: 0,age,job,marital,education,default,housing,loan,comm_type,month,day_of_week,last_contact_duration,campaign_contact_count,poutcome,cons.price.idx,cons.conf.idx,nr.employed
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,nonexistent,93.994,-36.4,5191.0
1,1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,nonexistent,93.994,-36.4,5191.0
2,2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,nonexistent,93.994,-36.4,5191.0
3,3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,nonexistent,93.994,-36.4,5191.0
4,4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,nonexistent,93.994,-36.4,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,nonexistent,94.767,-50.8,4963.6
41184,41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,nonexistent,94.767,-50.8,4963.6
41185,41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,nonexistent,94.767,-50.8,4963.6
41186,41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,nonexistent,94.767,-50.8,4963.6
41187,41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,failure,94.767,-50.8,4963.6