In [1]:
from pandas_profiling import ProfileReport
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./with_cluster_full.csv")

In [7]:
prof = ProfileReport(df)

In [5]:
prof.to_file(output_file='output.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=31.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./with_cluster_full.csv")

In [4]:
c0 = df[df['cluster']==0]
c1 = df[df['cluster']==1]
c2 = df[df['cluster']==2]
c3 = df[df['cluster']==3]

In [5]:
c0.describe()

,age,last_contact_duration,campaign_contact_count,cons.price.idx,cons.conf.idx,nr.employed,cluster
count,11588.000000,11588.000000,11588.000000,11588.000000,11588.000000,11588.000000,11588.0
mean,40.094753,330.688298,2.245340,93.556195,-40.502252,5153.043847,0.0
std,10.837805,79.022511,2.062866,0.599628,4.897401,78.410507,0.0
min,17.000000,204.000000,1.000000,92.201000,-50.800000,4963.600000,0.0
25%,32.000000,263.000000,1.000000,93.075000,-42.700000,5099.100000,0.0
50%,38.000000,316.000000,2.000000,93.876000,-41.800000,5191.000000,0.0
75%,47.000000,388.000000,3.000000,93.994000,-36.400000,5228.100000,0.0
max,98.000000,519.000000,56.000000,94.767000,-26.900000,5228.100000,0.0

In [6]:
c1.describe()

,age,last_contact_duration,campaign_contact_count,cons.price.idx,cons.conf.idx,nr.employed,cluster
count,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.0
mean,39.608010,1406.208738,2.591019,93.603250,-40.745267,5171.220388,1.0
std,10.290223,432.513432,2.296697,0.563898,4.515199,71.692562,0.0
min,19.000000,1053.000000,1.000000,92.201000,-50.800000,4963.600000,1.0
25%,32.000000,1142.750000,1.000000,93.075000,-42.700000,5099.100000,1.0
50%,38.000000,1271.500000,2.000000,93.918000,-42.000000,5195.800000,1.0
75%,46.000000,1500.500000,3.000000,93.994000,-36.400000,5228.100000,1.0
max,92.000000,4918.000000,26.000000,94.767000,-26.900000,5228.100000,1.0

In [7]:
c2.describe()

,age,last_contact_duration,campaign_contact_count,cons.price.idx,cons.conf.idx,nr.employed,cluster
count,24912.000000,24912.000000,24912.000000,24912.000000,24912.000000,24912.000000,24912.0
mean,39.992895,118.276614,2.742534,93.581978,-40.448206,5173.933984,2.0
std,10.195578,56.514242,3.110987,0.570262,4.507038,67.744435,0.0
min,17.000000,0.000000,1.000000,92.201000,-50.800000,4963.600000,2.0
25%,32.000000,75.000000,1.000000,93.075000,-42.700000,5099.100000,2.0
50%,38.000000,117.000000,2.000000,93.444000,-41.800000,5195.800000,2.0
75%,47.000000,163.000000,3.000000,93.994000,-36.400000,5228.100000,2.0
max,95.000000,233.000000,43.000000,94.767000,-26.900000,5228.100000,2.0

In [8]:
c3.describe()

,age,last_contact_duration,campaign_contact_count,cons.price.idx,cons.conf.idx,nr.employed,cluster
count,3864.000000,3864.000000,3864.000000,3864.000000,3864.000000,3864.000000,3864.0
mean,40.101708,699.017598,2.401139,93.587465,-40.802588,5163.631988,3.0
std,10.613281,141.639387,2.229995,0.572138,4.580515,74.950868,0.0
min,17.000000,513.000000,1.000000,92.201000,-50.800000,4963.600000,3.0
25%,32.000000,580.000000,1.000000,93.075000,-42.700000,5099.100000,3.0
50%,38.000000,666.000000,2.000000,93.918000,-42.000000,5191.000000,3.0
75%,47.000000,796.000000,3.000000,93.994000,-36.400000,5228.100000,3.0
max,91.000000,1052.000000,29.000000,94.767000,-26.900000,5228.100000,3.0

In [9]:
prof = ProfileReport(c3)
prof.to_file(output_file='cluster3.html')

NameError: name 'ProfileReport' is not defined

In [ ]:
c0

In [10]:
c0.describe(include='all').fillna('-').to_csv('cluster_0.csv')

In [11]:
c1.describe(include='all').fillna('-').to_csv('cluster_1.csv')

In [12]:
c2.describe(include='all').fillna('-').to_csv('cluster_2.csv')

In [13]:
c3.describe(include='all').fillna('-').to_csv('cluster_3.csv')

In [37]:
x.to_csv('cluster3.csv')